@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/* main site styles */
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1 0 auto;
}

main {
    display: flex;
    flex-flow: column nowrap;
}

main > .container,
main > .container > .section {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
}

fieldset, label { margin: 0; padding: 0; }
.rating {
    border: none;
    float: left;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

/* logo font-size */
.logo-text{
    font-size: 35px;
}

/* nav font-size */
.nav-text{
    font-size: 20px;
}

/* text style on page "О проекте" */
.about-text{
    font-size: 20px;
}

/* footer copyright style */
.copyright-text{
    color: white;
    font-family: MazzardM-Light, sans-serif;
    font-size: 20px;
}

/* footer copyright links style */
.footer-link {
    color: white;
    text-decoration: underline;
}